/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  /*font-family:'Ubuntu', sans-serif;*/
  font-family: arial,helvetica,sans-serif;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  /*font-family: sans-serif;*/
  line-height: 1.4;
}


/*joel default blue button*/
.button {
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*joel rounded button*/
.button2 {border-radius: 4px;}

/*joel orange button*/
.button3 {background-color: #F89406;}


/*joel google icons*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/*joel google icons*/


/*joel accordion*/
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}
/*joel accordion*/



/*joel slideshow*/
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  /*width: auto;*/
  /*height:10px;*/
  padding: 16px;
  /*margin-top: -22px;*/
  margin-top: -40px;
  /*color: white;*/
  color: orange;
  font-weight: bold;
  /*font-size: 18px;*/
  font-size: 0px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: orange;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.textcaption {
  /*color: #f2f2f2;*/
  color: white;
  font-size: 18px;
  padding: 12px 12px; /*8 12*/
  position: absolute;
  bottom: 0px;
  /*width: 100%;*/
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6); /*black;*/
  border-radius: 5px;
  width: 80%;
  margin-left: 10%;
  /*opacity: 0.6;*/
}

.dot {
  cursor:pointer;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



.active, .dot:hover {
  background-color: #717171;
}


/*joel slideshow*/




ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul.accessibility {
  position: absolute;
  top: -100%;
}


body { background:url(../images/bkg.png) center top repeat-y; color:#3b383c; }
/*a { color:#3b383c; font-weight:bold; text-decoration:none; outline:none;}*/
/*Colore link*/
a, a:visited { color:#006ea1; font-weight:bold; text-decoration:none; outline:none;}
a:hover { text-decoration:underline; font-weight:bold;}

/* ******************** STRUTTURA ****************** */
/*
div#container { width:910px; display:block; margin:0 auto; padding:0 20px; position:relative; }
*/

/*padding controls the nasty left margin of menu 910*/
div#container { width:910px; display:block; margin:0 auto; padding:0 20px; position:relative; }

/*
div#left { width:240px; height:auto; display:block; float:left; margin:30px 40px 0 0; }
*/
div#left { width:240px; height:auto; display:block; float:left; margin:30px 40px 0 0;}

  div#left h1 { width:84px; height:126px; display:block; }
    /*div#left h1 a { width:184px; height:126px; display:block; background:url(../images/logo.png) no-repeat; text-indent:-9999px;}*/
    div#left h1 a { width:184px; height:126px; display:block; background:url(../images/logo.png) no-repeat; background-size: 95% auto; text-indent:-9999px;}
  div#menu { width:199px; height:auto; display:block; margin:40px 0;}
/*
  div#spinoff { width:199px; height:32px; display:block; background:url(../images/spinoff.png) no-repeat right top; text-indent:-9999px;}
  div#spinoff { width:189px; height:122px; display:block; background:url(../images/spinoff.png) no-repeat right top; text-indent:-9999px;}
*/

div#centro { width:630px; height:auto; display:block; float:left; margin-top:30px; padding-bottom:20px; font-size:13px; line-height:18px; }
  div#content { margin-top:30px;}
  div#content p, div#content div { margin-bottom:20px;}

div#footer { width:630px; height:170px; display:block; background:#FFF; padding-top:20px; color:#8a8a8a; font-size:10px; margin-top:70px; border-top:1px solid #ccc;}
/*
div#footer { width:630px; height:170px; display:block; background:#FFF; padding-top:20px; color:#8a8a8a; font-size:10px; margin-top:70px;}
*/

/* ****************** MENU ******************** */
div.moduletable_menu ul li { padding:0 15px 0 0; border-bottom:1px solid #414141; width:184px; background:url(../images/arrow_blue.png)  no-repeat right top; text-align:right; min-height:21px; display:block;}
div.moduletable_menu ul li a { text-transform:uppercase; color:#7d939c; text-decoration:none; font-size:11px; font-weight:normal; line-height:13px; display:block; padding:4px 0 4px 0;  }
div.moduletable_menu ul li a:hover, div.moduletable_menu ul li.current a { color:#006ea1; }
/*div.moduletable_menu ul li a:hover, div.moduletable_menu ul li.current a { color:orange; }*/
div.moduletable_menu ul li.current { background:url(../images/arrow_red.png)  no-repeat right top; }

div.moduletable_menu ul li ul li { border:none; background:url(../images/arrow_grey.png)  no-repeat right top; margin-bottom:3px;}
div.moduletable_menu ul li ul li a { text-transform:none; }

/*
div.moduletable_menu ul li ul li.item-167 a { color:#FF0000 ; }
*/
div.moduletable_menu ul li ul li.item-167 a { color:#FF000 ; }


/* *************** TESTI & Co. *************** */
/*original font size is font-size:16px*/
div.item-page h2, div.leading-0 h2, div.category-list h2 span.subheading-category { font-size:16px; font-weight:bold; text-transform:uppercase; color:#006ea1; display:block; margin:30px 0; }
div.moduletable_news { width:199px; height:auto; display:block; margin-bottom:20px;}
div.moduletable_news h3 { background:#006ea1; color:#FFF; display:block; padding:2px 0 2px 6px; font-size:13px; font-weight:normal; margin-bottom:10px; text-transform:uppercase; font-family: 'Ubuntu Condensed', sans-serif; }
div.newsflash_news { font-size:12px; color:#a1a3a5;}
h4.newsflash-title_news { color:#006ea1; display:block; margin-bottom:5px; font-weight:500; }
div.moduletable_news p { display:block; padding-bottom:5px; border-bottom:1px solid #414141; line-height:17px; font-weight:300; }
a.readmore { font-size:11px; text-transform:uppercase; color:#666; text-align:right; background:url(../images/arrow_red.png)  no-repeat right top; padding:3px 15px 0 0; display:block; font-weight:normal; font-family: 'Ubuntu Condensed', sans-serif;}

div.display-limit { display:block; margin:20px 0; }
table.category tr td { padding:10px; text-align:left; border-bottom:1px solid #ccc;}
table.category  tr th { background:#ccc; padding:5px 8px;}
/*table.category  tr th { background:#FF00FF; padding:5px 8px;}*/
table.category  tr th a { font-size:13px; color:#006ea1; font-weight:normal; text-align:left; display:block;}

/* *************** HOME ************** */
/*original*/
div.moduletable_login { margin-bottom:30px; border-bottom:1px solid #414141; padding-bottom:20px; width:199px;}

/*div.moduletable_login { margin-left:30px; border-bottom:1px solid #414141; padding-bottom:20px; width:300px;}*/

div.moduletable_login, div.moduletable_login a { font-size:11px; color:#666; }
div.moduletable_login h3 { color:#CCC; font-size:13px; display:block; margin-bottom:5px;}
div.moduletable_login input { width:189px; background:#151515; color:#666; padding:3px 5px; font-size:12px; margin-bottom:10px; border:0; }
div.moduletable_login input#modlgn-remember { width:25px;}
div.moduletable_login input.button {font-size:12px; text-transform:uppercase; color:#ccc; text-align:right; background:url(../images/arrow_red.png)  no-repeat right top; padding:3px 15px 0 0; display:block; font-weight:normal; font-family: 'Ubuntu Condensed', sans-serif; width:50px; float:right; }
div.moduletable_login form ul li { float:left; display:block; margin-right:7px; }
div.moduletable_login form ul li a { font-weight:normal; }
p#form-login-remember { width:100px; display:block; float:left;}
/* *************** SOCIAL ************** */
/*original*/
ul.dmt-social-links_login.dmt-icons-32 {width:11px; height:32px; display:block; }
ul.dmt-social-links_login.dmt-icons-32 li { width:32px; height:32px; display:block; float:left; margin-right:5px;}
ul.dmt-social-links_login.dmt-icons-32 li a { width:32px; height:32px; display:block;}

/*
ul.dmt-social-links_login.dmt-icons-32 {width:160px; height:80px; display:block; }
ul.dmt-social-links_login.dmt-icons-32 li { width:132px; height:132px; display:block; float:left; margin-right:55px;}
ul.dmt-social-links_login.dmt-icons-32 li a { width:132px; height:132px; display:block;}
*/
